<div
  class="sidebar"
  data-color="danger"
  data-background-color="white"
  data-image="./assets/img/sidebar-1.jpg"
>
  <app-sidebar></app-sidebar>
  <div
    class="sidebar-background"
    style="background-image: url(./assets/images/sidebar-4.jpg)"
  ></div>
</div>
<div class="main-panel" style="color: white">
  <user-navbar></user-navbar>
  <section class="bg-account-pages vh-200" style="padding-top: 25px">
    <div class="main-content">
      <mat-tab-group mat-align-tabs="start">
        <mat-tab [labelClass]="'no-ink-bar'" label="AI Summary">
          <app-ai-summary></app-ai-summary>
        </mat-tab>
        <mat-tab label="M-RCNN">
          <app-ai-m-rcnn></app-ai-m-rcnn>
        </mat-tab>
        <mat-tab label="MLP">
          <app-ai-mlp></app-ai-mlp>
        </mat-tab>
        <mat-tab label="Cancer">
          <app-temp></app-temp>
        </mat-tab>
      </mat-tab-group>
    </div>
  </section>
</div>
