<footer class="footer">
  <div class="container-fluid">
    <nav class="pull-left">
      <ul>
        <li>
          <a href="javascript: void(0);"> YourHeartAI </a>
        </li>
        <li>
          <a href="javascript: void(0);"> About Us </a>
        </li>
        <li>
          <a href="javascript: void(0);"> Blog </a>
        </li>
        <li>
          <a href="javascript: void(0);"> Licenses </a>
        </li>
      </ul>
    </nav>
    <div class="copyright pull-right">
      &copy;
      {{ test | date : "yyyy" }}, made with love by
      <a href="/" target="_blank">Your Heart AI</a> for a better world.
    </div>
  </div>
</footer>
