<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />

    <!-- Make it compatible to mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Skin Cancer Lesion Classifier</title>
  </head>

  <body >
    <h2 style="color: Violet">Skin Cancer Lesion Classifier</h2>
    <p></p>
    <h4 style="color: Violet">Upload an image and click submit</h4>

    <form method="post" action="/" enctype="multipart/form-data">
      <dl>
        <p style="color: Violet">
          <input type="file" name="file" autocomplete="off" required />
        </p>
      </dl>
      <p style="color: Violet">
        <input type="submit" name="submit" value="Submit" />
      </p>
    </form>

    <p style="color: MediumSeaGreen"></p>
  </body>
</html>
